::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0a0a0c; border-radius: 10px; }
::-webkit-scrollbar-thumb {
    background: #1a3a36;
    border-radius: 10px;
    border: 2px solid #0a0a0c;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    box-shadow: 0 0 8px var(--cor-destaque);
}
.modo-claro ::-webkit-scrollbar-track { background: #f4f4f0; }
.modo-claro ::-webkit-scrollbar-thumb { background: #b0d0cc; border: 2px solid #f4f4f0; }
.modo-claro ::-webkit-scrollbar-thumb:hover { background: var(--cor-destaque); }