/* SCROLLBAR (MODO ESCURO) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1a3a3a; 
    border-radius: 10px;
    border: 3px solid #0a0a0a;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    box-shadow: 0 0 10px var(--cor-destaque);
}

/* SCROLLBAR (MODO CLARO) */
.modo-claro::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.modo-claro::-webkit-scrollbar-thumb {
    background: #ccddee; 
    border: 3px solid #f0f0f0;
}

.modo-claro::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
}